* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif; /*Could not import Karla font*/
}

h1, h2 {
  font-family: Markazi;
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
}

img {
  border-radius: 1.6rem;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navLinks li {
  margin-right: 2rem;
}

header img {
  height: 7rem;
}

.link {
  color: #495E57;
  text-decoration: none;
}

.card {
  background-color: #EDEFEE;
}

footer {
  background-color: #495E57;
  color: white;
}

.grid {
  --min: 30ch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  gap: 1rem;
  padding: 1rem 2rem;
}

.footerSection {
  padding: 2rem 0px;
}

.footerSection:last-of-type {
  padding-right: 0;
}

footer img {
  height: 18rem;
  width: 12rem;
  object-fit: cover;
}

footer h3 {
  color: #f4ce14;
}

.footerList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .link {
  color: white;
}

/* Media Queries for more specific mobile responsiveness */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .navLinks li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  header img {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  footer {
    justify-items: center;
  }

  .footerList {
    flex-direction: column;
    align-items: center;
  }

  .footerSection {
    padding: 5px 0px;
  }

  footer img {
    height: 12rem;
    width: 8rem;
    margin-top: 1rem;
  }
}

/**********fix footer responsiveness from 602-718px ***********/