* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Karla', Georgia;
}

h1 {
  font-family: Markazi;
  font-size: 6.4rem;
  color: #f4ce14;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
}

img {
  border-radius: 1.6rem;
  height: 20rem;
}

.bg {
  background-color: #EDEFEE;
  border-radius: 1.6rem;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the contents horizontally */
  justify-content: center;
  width: 73%;
  padding-top: 10rem;
  margin: 0 auto;
}

.container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #495E57;
  text-decoration: none;
}

.card {
  background-color: #EDEFEE;
}

.card p, h3 {
  padding: .5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
  gap: 1rem;
  padding: 1rem 2rem;
}

button {
  color: black;
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  padding: 10px;
  font-weight: bold;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navLinks li {
  margin-right: 2rem;
}

header img {
  height: 7rem;
}

.hero {
  background-color: #495E57;
  color: white;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.heroText p {
  width: 60%;
  padding: 1.2rem 0;
}

.heroHead {
  line-height: 1;
  padding-bottom: 1.5rem;
}

.hero img {
  position: relative;
  object-fit: cover;
  height: 350px;
  width: 300px;
  top: 50px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure 3 equal columns */
  gap: 1rem;
  margin: 0; /* Remove any margin */
  width: 100%; /* Take full width of the container */ /*ADJUST ME FOR REVIEW GRID CARDS*/
}

.reviewCard, .specialsCard {
  width: 100%; /* Allow the card to take up full width of the grid cell */
  max-width: 20rem; /* Set a maximum width for the card */
  margin: 0 auto; /* Center each card in its column */
  border-radius: 1.6rem;
  text-align: center;
}

.specialsContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  padding-top: 80px;
}

.specialsHead, .specialsHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

.specialsBody {
  text-align: left;
}

.specialsCard {
  max-width: 40rem;
}

.specialsCard img {
  width: 100%;
  height: 26.5rem;
  object-fit: cover;
}

.foods {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
}

.about {
  margin: 2rem 0;
}

footer {
  background-color: #495E57;
  color: white;
}

.footerSection {
  padding: 2rem 0px;
}

.footerSection:last-of-type {
  padding-right: 0;
}

footer img {
  height: 18rem;
  width: 22rem;
  object-fit: cover;
}

footer h3 {
  color: #f4ce14;
  padding: 0;
}

.footerList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .link {
  color: white;
}


/* Media Queries for more specific mobile responsiveness */
@media screen and (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .navLinks li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  header img {
    height: 5rem;
    margin-bottom: 1rem;
  }

  .hero {
    display: block;
    width: 100%;
    height: 100%;
  }

  .heroText {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero p {
    margin: 0;
  }

  .hero img {
    display: none
  }

  .about {
    text-align: center;
    margin: 2rem 0;
  }

  .specialsContainer {
    padding: 0;
  }

  .specialsHead {
    flex-direction: column;
  }

  .foods {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
  }

  .reviewContainer {
    display: none;
  }

  footer {
    justify-items: center;
  }

  footer img {
    display: none;
  }

  .footerList {
    flex-direction: column;
    align-items: center;
  }

  .footerSection {
    padding: 5px 0px;
    text-align: center;
  }
}

/**********fix footer responsiveness from 602-718px ***********/